<div mat-dialog-title class="h-dark-c-lb3">
  The appointment charge has now been refunded to {{ data.payment.card.brand | uppercase }} •••• {{ data.payment.card.last4 }}
</div>
<mat-dialog-content class="h-flex h-flex-text-center h-medium-c-b2">
  The patient will receive a text notifying them they
  have been refunded.
</mat-dialog-content>
<mat-dialog-actions class="h-flex">
  <button app-button mat-dialog-close>
    Back to Appointment
  </button>
  <button app-button="basic" class="c-dialog-close" mat-dialog-close>
    <svg-icon-sprite src="close-icon"></svg-icon-sprite>
  </button>
</mat-dialog-actions>
