<section class="c-mission-block">
  <div class="l-wrapper c-mission-block__wrapper">
    <figure class="c-mission-block__img">
      <img
        class="h-responsive-img"
        src="/assets/img/couple-mobile-phlebotomy.jpg"
        srcset="/assets/img/couple-mobile-phlebotomy.jpg 1x, /assets/img/couple-mobile-phlebotomy@2x.jpg 2x"
        alt="Couple smiling about mobile phlebotomy"
      />
    </figure>
    <article class="c-mission-block__content">
      <svg-icon-sprite src="circle-flag-icon" class="h-mb-15" width="31" height="31"></svg-icon-sprite>
      <span class="h-dark-l-bl2 h-primary-d1-text-color h-mb-10"> Mission </span>
      <h2 class="h-dark-l-h2 h-dark-l-h2--responsive c-mission-block__title">Getlabs makes healthcare convenient for patients.</h2>
      <p class="h-dark-l-b1 h-mb-20">
        Seventy percent of all medical decisions depend on lab tests yet thirty percent of patients skip their lab orders altogether. For patients, the
        inconvenience of taking time to go to laboratories is the primary driver of non-compliance. For providers and laboratories that means patients go
        undiagnosed and untreated.
      </p>
      <p class="h-dark-l-b1 h-mb-20">
        That is why we started Getlabs. Our mission is to reduce patient non-compliance by creating the infrastructure for quality at-home healthcare. By
        focusing on making the patient experience more convenient and within the comfort of their home, we improve compliance and empower providers and
        laboratories to better serve patients.
      </p>
      <p class="h-dark-l-b1">
        Across every interaction with patients, we place one value above all others: empathy. To meaningfully improve non-compliance requires more than just
        convenience, it requires making healthcare an experience patients enjoy and look forward to.
      </p>
    </article>
  </div>
</section>
