<form [formGroup]="form" (ngSubmit)="onChange()">
  <div class="c-form-split-col">
    <app-form-element label="Home Address" class="c-form-split-col__3-quarters-row" name="place" [error]="getError('place')">
      <app-address-autocomplete formControlName="place" class="h-block h-mt-10" [autoFocusInput]="true"></app-address-autocomplete>
    </app-form-element>

    <app-form-element class="c-form-split-col__1-quarter-row" [error]="getError('unit')" label="Unit" name="unit" [optional]="true">
      <input class="ui-input ui-input--large" type="text" placeholder="Unit" formControlName="unit" />
    </app-form-element>
  </div>
</form>
