// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Getlabs Website
//  Pages > Providers > Contact
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

@import "variables";
@import "mixins";

.c-providers-contact {
  margin-bottom: $desktop-section-spacing;

  &__wrapper {
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    padding-right: 60px;
  }

  &__form {
    padding-top: 0;
    flex: 0 0 55%;
  }

  &__title {
    max-width: 380px;
    margin-bottom: 20px;
  }

  &__description {
    max-width: 380px;
    margin-bottom: 40px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &--no-margin {
      margin-bottom: 0 !important;
    }

  } // __list-item

  &__icon {
    @include size(80px);
    margin-right: 25px;
  }


  //
  // Responsive
  //
  @include bp(m) {
    &__content {
      padding-right: 30px;
    }
  }

  @include bp(s) {
    margin-bottom: $mobile-section-spacing;

    &__wrapper {
      flex-direction: column;
    }

    &__content {
      flex: 1 1 auto;
      width: 100%;
      margin-bottom: $mobile-section-spacing;
    }

    &__title, &__description {
      max-width: none;
    }

    &__form {
      flex: 1 1 auto;
      width: 100%;
    }

  } // s

  @include bp(xs) {
    &__content {
      padding: 0;
    }

    &__form {
      width: calc(100% + #{$mobile-edge * 2});
    }

  } // xs

  @include bp(xxs) {
    &__title {
      margin-bottom: 10px;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__list-item {
      margin-bottom: 30px;
    }

    &__icon {
      @include size(40px);
      margin-right: 15px;
    }

  } // xxs

} // .c-providers-contact



//
// Providers Contact Hook
//
.c-providers-contact-hook {
  @include shift(top, -60px);

  @include bp(xs) {
    top: -($mobile-header-height + ($mobile-site-message-height * 1)) - 30px;
  }

  margin-bottom: 40px;

} // .c-providers-contact-hook
