<section class="c-coming-soon-cities">
  <div class="l-wrapper c-coming-soon-cities__wrapper">
    <div class="c-coming-soon-cities__intro-container">
      <div class="c-coming-soon-cities__intro">
        <svg-icon-sprite src="globe-circle-icon" class="h-mb-15" width="36" height="36"></svg-icon-sprite>
        <h2 class="h-dark-l-h2 h-dark-l-h2--responsive c-coming-soon-cities__title">
          Stay tuned! We're rapidly expanding across the United States and Canada
        </h2>
      </div>
    </div>

    <ul class="c-coming-soon-cities__list">
      <li>Atlanta</li>
      <li>Austin</li>
      <li>Baltimore</li>
      <li>Boston</li>
      <li>Chicago</li>
      <li>Colorado Springs</li>
      <li>Dallas</li>
      <li>Denver</li>
      <li>Ft. Lauderdale</li>
      <li>Las Vegas</li>
      <li>Los Angeles</li>
      <li>Miami</li>
      <li>Montreal</li>
      <li>New Orleans</li>
      <li>New York</li>
      <li>Newark</li>
      <li>Orange County</li>
      <li>Portland</li>
      <li>San Antonio</li>
      <li>San Diego</li>
      <li>San Fransisco</li>
      <li>San Jose</li>
      <li>Santa Barbara</li>
      <li>St. Louis</li>
      <li>Seattle</li>
      <li>Tampa</li>
      <li>Toronto</li>
      <li>Vancouver</li>
      <li>Washington</li>
    </ul>
  </div>
  <div class="c-coming-soon-cities-bg"></div>
</section>
