@import "variables";
@import "mixins";

:host {
  display: flex;
  flex-direction: column;

  .items {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 1px solid $gl-light-l2;

    > * {
      @include shift(top, 1px);
      display: flex;
      padding: 0 15px 10px;
      margin: 0 5px;
      height: 100%;
      color: $gl-medium-text-color;
      cursor: pointer;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &.active {
        color: $gl-primary-d1;
        font-weight: $gl-bold-font-weight;
        border-bottom: 1px solid $gl-primary-d1;
      }

      &:hover {
        color: $gl-primary-d1;
      }
    }


    //
    // Responsive
    //
    @include bp(xs) {
      justify-content: center;
      margin-left: -($mobile-edge);
      width: calc(100% + #{$mobile-edge * 2});
    }
  }



}
