<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <main class="l-wrapper l-wrapper--sm l-main-container">
    <section class="h-mb-40">
      <app-form-group label="Basic Information">
        <div class="c-form-split-col">
          <app-form-element [error]="getError('firstName')" label="First Name">
            <input class="ui-input ui-input--large" type="text" placeholder="First Name" formControlName="firstName" />
          </app-form-element>
          <app-form-element [error]="getError('lastName')" label="Last Name">
            <input class="ui-input ui-input--large" type="text" placeholder="Last Name" formControlName="lastName" />
          </app-form-element>
          <app-form-element [error]="getError('phoneNumber')" label="Phone Number">
            <input class="ui-input ui-input--large" type="tel" placeholder="(###) ###-####" [mask]="phoneNumberMask.getMaskPattern()" formControlName="phoneNumber">
          </app-form-element>
          <app-form-element [error]="getError('email')" label="Email Address">
            <input class="ui-input ui-input--large" type="email" placeholder="Email" formControlName="email" />
          </app-form-element>
        </div>
      </app-form-group>
    </section>

    <section class="h-mb-40">
      <app-form-group label="Address" formGroupName="address">
        <div class="c-form-split-col-3 h-mb-20">
          <app-form-element [error]="getError('address.street')" label="Street Address" class="c-form-split-col-3__2-third-row">
            <input class="ui-input ui-input--large" type="text" placeholder="Street Address" formControlName="street" />
          </app-form-element>
          <app-form-element [error]="getError('address.unit')" label="Unit" class="c-form-split-col-3__1-third-row">
            <input class="ui-input ui-input--large" type="text" placeholder="Unit" formControlName="unit" />
          </app-form-element>
        </div>
        <div class="c-form-split-col-3">
          <app-form-element [error]="getError('address.city')" label="City" class="c-form-split-col-3__1-third-row">
            <input class="ui-input ui-input--large" type="text" placeholder="City" formControlName="city" />
          </app-form-element>
          <app-form-element [error]="getError('address.state')" label="State" class="c-form-split-col-3__1-third-row">
            <select class="ui-select ui-select--large" formControlName="state">
              <option [value]="null" selected disabled>State</option>
              <!-- TODO readonly map -->
              <option *ngFor="let state of states | keyvalue" [value]="state.key">{{ state.value }}</option>
            </select>
          </app-form-element>
          <app-form-element [error]="getError('address.zipCode')" label="ZIP Code" class="c-form-split-col-3__1-third-row">
            <input class="ui-input ui-input--large" type="text" placeholder="Zip Code" formControlName="zipCode" />
          </app-form-element>
        </div>
      </app-form-group>
    </section>

    <section class="l-wrapper l-wrapper--xs">
      <app-form-group style="grid-area: 1 / 2 / 3;">
        <app-panel class="h-flex-y-center">
          <app-avatar [user]="user" size="xlarge" class="h-mb-20"></app-avatar>
          <app-form-element [error]="getError('avatar')">
            <app-file-input
              formControlName="avatar"
              [label]="'Upload Photo'"
              [purpose]="getFilePurpose()"
              [usePreview]="false"
              (uploaded)="onAvatarChange($event)"
            ></app-file-input>
          </app-form-element>
        </app-panel>
      </app-form-group>
    </section>

    <button app-button type="submit" class="h-margin-center h-mt-40" [loading]="req$">
      {{ user ? 'Save Changes' : 'Create Profile' }}
    </button>
  </main>
</form>
