<div class="l-wrapper wrapper">
  <article class="content">
    <svg-icon-sprite src="check-circle" class="check"></svg-icon-sprite>
    <h3 class="h-dark-l-h1 h-dark-l-h1--responsive title">
      Ready to schedule your appointment?
    </h3>
    <a app-button [href]="'/book' | interAppUrl:'app'" aria-label="Book Appointment Link">
      Book Now
    </a>
  </article>
  <figure class="img" >
    <img class="h-block h-responsive-img"
      src="/assets/img/patient-booking-lab-visit.jpg" srcset="/assets/img/patient-booking-lab-visit.jpg 1x, /assets/img/patient-booking-lab-visit@2x.jpg 2x"
      alt="Woman holding coffee booking home blood draw">
  </figure>
</div>
