<section class="c-error-hero">
  <div class="l-wrapper l-wrapper--col c-error-hero__wrapper">
    <article class="c-error-hero__content">
      <h1 class="h-dark-l-dh2 h-dark-l-dh2--small-responsive h-mb-40">
        Page Not Found.
      </h1>
      <p class="h-dark-l-dsh1 h-mb-45">
        Go to <a routerLink="/" class="h-dark-primary-d1-link h-bold-font-weight">getlabs.com</a> or tap
        below to return home.
      </p>
      <a app-button routerLink="/">
        Go Home
        <svg-icon-sprite src="right-chevron-icon" class="c-small-icon h-ml-15"></svg-icon-sprite>
      </a>
    </article>
  </div>
  <div class="c-error-hero-bg"></div>
</section>
