<div mat-dialog-title class="h-dark-c-h4">
  Revoke Credit from {{recipient.name}}
</div>
<mat-dialog-content>
  <app-revoke-credit [recipient]="recipient"></app-revoke-credit>
</mat-dialog-content>
<mat-dialog-actions>
  <button app-button="border" class="mat-dialog-secondary-action" mat-dialog-close>
    Cancel
  </button>
  <button app-button class="mat-dialog-primary-action" (click)="confirmCreditOperation()">
    Revoke Credit
  </button>
  <button app-button="basic" class="c-dialog-close" mat-dialog-close>
    <svg-icon-sprite src="close-icon" class="c-small-icon"></svg-icon-sprite>
  </button>
</mat-dialog-actions>

<ng-template #createTitle>
  Add New Lab Order
</ng-template>
