<div class="l-wrapper l-wrapper--col l-wrapper--sm">
  <h1 class="h-dark-c-h4 h-mb-10">
    Lab Locations
  </h1>
  <div class="h-medium-c-b1 h-mb-30">
    Tap below to view and edit available lab locations.
  </div>
</div>
<div class="l-wrapper l-wrapper--col">
  <section class="c-table__actions">
    <div class="c-table__actions__left">
      <app-form-element>
        <input class="ui-input ui-input--small ui-input--narrow ui-input--search" type="text" placeholder="Search lab locations" [formControl]="search" />
      </app-form-element>
    </div>

    <div class="c-table__actions__right">
      <button app-button size="small" routerLink="/team/labs/create">Create Lab Location</button>
    </div>
  </section>

  <app-team-lab-list [search]="search.value"></app-team-lab-list>
</div>
