<section class="c-table-container c-table-container--bottom-margin" infiniteScroll [infiniteScrollThrottle]="0"
         [infiniteScrollDisabled]="scrollDisabled" (scrolled)="onScroll()">
  <div class="c-table">
    <div class="c-table__row">
      <div class="c-table__heading">Name</div>
      <div class="c-table__heading">City</div>
<!--      <div class="c-table__heading">Phone Number</div>-->
      <div class="c-table__heading">Role</div>
      <div class="c-table__heading">Documents</div>
      <div class="c-table__heading">Availability</div>
<!--      <div class="c-table__heading">Compliance</div>-->
    </div>

    <ng-container *ngIf="(data$ | async) as users; else loading">
      <a routerLink="/team/team-members/{{ user.id }}" class="c-table__row" *ngFor="let user of users">
        <div class="c-table__col h-dark-l-uil2">
          {{ user.name }}
        </div>
        <div class="c-table__col">
          {{ user.address.city }}
        </div>
        <div class="c-table__col">
          <app-team-access-level [user]="user"></app-team-access-level>
        </div>
        <div class="c-table__col">
          <app-documents-status [user]="user"></app-documents-status>
        </div>
        <div class="c-table__col">
          <app-account-status [user]="user"></app-account-status>
        </div>
      </a>
      <ng-container *ngIf="users.length === 0">
        <div class="c-table-empty-state h-medium-c-b2">
          <svg-icon-sprite src="large-circle-search-icon" class="h-mb-30" height="92" width="92"></svg-icon-sprite>
          No team members found matching "{{search}}"
        </div>
      </ng-container>
    </ng-container>

    <ng-template #loading>
      <div class="c-table-empty-state">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</section>
