@import "variables";
@import "mixins";

:host {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  min-height: 88px;
  border: 1px solid $gl-light-l2;

  .data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;

    .document-status {
      svg-icon {
        //fill: $gl-ui-success;
        position: relative;
        left: -6px;
      }
    }
  }

  .cta {
    display: flex;
    align-items: center;
  }

  @include bp(xs) {
    flex-direction: column;
    align-items: flex-start;

    .data {
      margin-right: 0;
      margin-bottom: 20px;
    }

    .cta {
      justify-content: flex-end;
      width: 100%;
    }

  } // xs

  .ui-primary-button {
    padding-left: 15px;
    padding-right: 5px;

    display: flex;

    //& > * {
    //  flex-grow: 1;
    //  flex-shrink: 1;
    //}
    //
    //svg-icon {
    //  flex-grow: 0;
    //  flex-shrink: 0;
    //}
  }

}
