<section class="c-benefits-block">
  <hr />
  <div class="l-wrapper">
    <h2 class="h-dark-c-h1 h-dark-c-h1--responsive c-benefits-block__title">
      Why is Getlabs better than going to a lab?
    </h2>
  </div>
  <div class="l-wrapper c-benefits-block__wrapper">
    <article class="c-benefits-block__content">
      <div class="c-benefit">
        <i class="c-benefit__icon" aria-hidden="true">
          <svg-icon-sprite src="real-estate-action-house-pin" width="22" height="38"></svg-icon-sprite>
        </i>
        <div class="h-flex-col">
          <h3 class="h-dark-l-h4 c-benefit__title">
            Convenient
          </h3>
          <p class="h-medium-l-lb4 c-benefit__description">
            <app-partner-inline-content>
              <ng-template [appPartnerInlineContentBlock]="LabCompany.LabCorp">
                We deliver directly to Labcorp.
              </ng-template>
              <ng-template [appPartnerInlineContentBlock]="LabCompany.LabXpress">
                We deliver directly to LabXpress.
              </ng-template>
              <ng-template [appPartnerInlineContentBlock]>
                We deliver to Labcorp and Quest Diagnostics.
              </ng-template>
            </app-partner-inline-content>
          </p>
        </div>
      </div>

      <div class="c-benefit">
        <i class="c-benefit__icon" aria-hidden="true">
          <svg-icon-sprite src="sofa-double-modern" width="33" height="29"></svg-icon-sprite>
        </i>
        <div class="h-flex-col">
          <h3 class="h-dark-l-h4 c-benefit__title">
            Comfortable
          </h3>
          <p class="h-medium-l-lb4 c-benefit__description">
            Enjoy lab appointments from your couch.
          </p>
        </div>
      </div>

      <div class="c-benefit">
        <i class="c-benefit__icon" aria-hidden="true">
          <svg-icon-sprite src="heart" width="32" height="28"></svg-icon-sprite>
        </i>
        <div class="h-flex-col">
          <h3 class="h-dark-l-h4 c-benefit__title">
            Compassionate
          </h3>
          <p class="h-medium-l-lb4 c-benefit__description">
            Gentle care to keep you calm and relaxed.
          </p>
        </div>
      </div>

      <div class="c-benefit">
        <i class="c-benefit__icon" aria-hidden="true">
          <svg-icon-sprite src="lock" width="26" height="36"></svg-icon-sprite>
        </i>
        <div class="h-flex-col">
          <h3 class="h-dark-l-h4 c-benefit__title">
            Confidential
          </h3>
          <p class="h-medium-l-lb4 c-benefit__description">
            Getlabs is fully HIPAA privacy compliant.
          </p>
        </div>
      </div>
    </article>

    <picture class="c-benefits-block__img" aria-hidden="true">
      <source srcset="/assets/img/female-patient-lab-results.webp 1x, /assets/img/female-patient-lab-results@2x.webp 2x" type="image/webp" />
      <source srcset="/assets/img/female-patient-lab-results.jpg 1x, /assets/img/female-patient-lab-results@2x.jpg 2x" type="image/jpeg" />
      <img class="h-responsive-img h-block" src="/assets/img/female-patient-lab-results.jpg" alt="Female patient receiving good lab results" />
    </picture>
  </div>
  <div class="c-benefits-block-bg"></div>
</section>
