@import "variables";

:host:not(.lab-order-repeater__multiple) {
  .lab-order-details__header {
    display: none;
  }
}

.lab-order-details {
  margin-bottom: 10px;

  &--deleted {
    opacity: 0.5;

    .lab-order-details__header {
      text-decoration: line-through;
    }
  }

  &:last-of-type {
    margin-bottom: 30px;
  }

  &__header {
    margin-bottom: 5px;
  }

  & + & {
    padding-top: 10px;
    margin-top: 15px;
    border-top: 1px solid $gl-very-light-border-color;
  }
}


