<app-small-hero [heroClass]="'c-small-hero c-small-hero--small-margin'">
  Contact Us
</app-small-hero>

<section class="c-contact-container">
  <div class="l-wrapper c-contact-container__wrapper">

    <article class="c-contact-container__content">
      <h2 class="c-contact-container__title h-dark-l-h2 h-dark-l-h2--responsive">
        Let us know how we can help.
      </h2>
      <div class="c-contact-option">
        <svg-icon-sprite src="chat-circle-icon" class="c-contact-option__icon"></svg-icon-sprite>
        <div class="c-contact-option__content">
          <span class="h-dark-l-uil2">
            Online chat
          </span>
          <button app-button="text" class="h-dark-l-lb2 c-contact-option__link intercom-start">
            Start chat
          </button>
        </div>
      </div>
      <div class="c-contact-option">
        <svg-icon-sprite src="phone-circle-icon" class="c-contact-option__icon"></svg-icon-sprite>
        <div class="c-contact-option__content">
          <span class="h-dark-l-uil2">
            Text or call
          </span>
          <a href="tel:{{ globals.PHONE }}" class="h-dark-l-lb2 c-contact-option__link">
            {{ globals.PHONE }}
          </a>
        </div>
      </div>
      <div class="c-contact-option">
        <svg-icon-sprite src="email-circle-icon" class="c-contact-option__icon"></svg-icon-sprite>
        <div class="c-contact-option__content">
          <span class="h-dark-l-uil2">
            Email
          </span>
          <a href="mailto:hello@getlabs.com" class="h-dark-l-lb2 c-contact-option__link">
            hello@getlabs.com
          </a>
        </div>
      </div>
    </article>

    <section class="c-form c-contact-container__form" [class.c-form--sent]="sent">
      <div class="c-form__sent-msg" aria-hidden="true">
        <svg-icon-sprite src="large-circle-check-icon" class="h-mb-30" width="110" height="110"></svg-icon-sprite>
        <h6 class="h-dark-c-h3 h-mb-25">
          Message Sent
        </h6>
        <p class="h-medium-c-b1">
          Thank you for getting in touch. Your message was sent successfully, we will reply to you shortly.
        </p>
      </div>
      <div class="c-form__container">
        <h3 class="h-dark-c-h6 h-mb-30">
          Have general comments or questions?<br>Send us a message
        </h3>
        <form class="h-flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">

          <app-form-element label="Full Name" [error]="getError('name')" class="h-mb-20">
            <input class="ui-input ui-input--medium" type="text" placeholder="Enter your first and last name" formControlName="name">
          </app-form-element>

          <app-form-element label="Email Address" [error]="getError('email')" class="h-mb-20">
            <input class="ui-input ui-input--medium" type="email" placeholder="Enter the email we will reply to" formControlName="email">
          </app-form-element>

          <app-form-element label="Phone Number" [optional]="true" [error]="getError('phoneNumber')" class="h-mb-20">
            <input class="ui-input ui-input--medium" type="tel" placeholder="Prefer us to call you? Enter your phone number" formControlName="phoneNumber">
          </app-form-element>

          <app-form-element label="Your Message" [error]="getError('message')" class="h-mb-20">
            <textarea class="ui-textarea ui-textarea--medium ui-textarea--no-resize" placeholder="Enter your comments or questions here" formControlName="message"></textarea>
          </app-form-element>

          <button app-button size="medium" type="submit" class="h-flex-x-self-center">Send Messsage</button>
        </form>
      </div>
    </section>

  </div>
</section>
