<section class="c-large-hero c-large-hero--small-margin">
  <div class="l-wrapper c-large-hero__wrapper">
    <div class="c-large-hero__content-wrapper">
      <article class="c-large-hero__content">
        <h1 class="h-dark-l-dh2 h-dark-l-dh4--large-responsive h-mb-40 h-mb-xs-15">
          Stay safe and skip the waiting room.
        </h1>
        <h2 class="h-dark-l-dsh1 h-dark-l-dsh1--responsive h-mb-40 h-mb-xs-20">
          Book convenient at-home lab appointments. Starting from just <app-price></app-price>.
        </h2>

        <ng-container *appAbTest="'HomepageBookNow'; version: 'Button'; default: true">
          <a app-button [href]="'/book' | interAppUrl: 'app'" class="h-mb-40 h-mb-xs-20" aria-label="Book Appointment Link">
            Book Now
            <svg-icon-sprite src="right-chevron-icon" class="c-small-icon h-ml-15"></svg-icon-sprite>
          </a>
        </ng-container>

        <ng-container *appAbTest="'HomepageBookNow'; version: 'AddressForm'">
          <app-book-with-address class="h-block h-mt-10 h-mb-40 h-mb-xs-20"></app-book-with-address>
        </ng-container>

        <div class="h-medium-l-b2">
          <app-partner-inline-content class="partners">
            <ng-template [appPartnerInlineContentBlock]="LabCompany.LabXpress"><!-- Deliberately empty --></ng-template>
            <ng-template [appPartnerInlineContentBlock]="LabCompany.LabCorp">
              <div class="partners__label">Proudly Serving:</div>
              <div class="partners__logos">
                <img src="/assets/img/labcorp-logo.svg" class="labcorp-logo h-ml-15" alt="Labcorp logo transparent background" />
              </div>
            </ng-template>
            <ng-template [appPartnerInlineContentBlock]>
              <div class="partners__label">We serve top labs:</div>
              <div class="partners__logos">
                <img src="/assets/img/labcorp-logo.svg" class="labcorp-logo h-ml-15" alt="Labcorp logo transparent background" />
                <img src="/assets/img/quest-diagnostics-logo.png" class="quest-diagnostics-logo h-ml-15" alt="Quest Diagnostics logo transparent background" />
              </div>
            </ng-template>
          </app-partner-inline-content>
        </div>
      </article>
      <!--      <div class="c-hero-scroll" aria-hidden="true">-->
      <!--
        <button class="h-flex ui-button" (click)="scrollDown()">
          <svg-icon-sprite
            src="down-chevron-icon"
            class="c-small-icon c-small-icon--dark c-hero-scroll__chevron">
          </svg-icon-sprite>
          <span class="h-dark-l-bl1">
            Learn More
          </span>
        </button>
        -->
      <!--      </div>-->
    </div>

    <picture class="c-large-hero__img" aria-hidden="true">
      <source srcset="/assets/img/mobile-phlebotomist.webp 1x, /assets/img/mobile-phlebotomist@2x.webp 2x" type="image/webp" />
      <source srcset="/assets/img/mobile-phlebotomist.png 1x, /assets/img/mobile-phlebotomist@2x.png 2x" type="image/png" />
      <img class="h-responsive-img h-block h-rel-1" src="/assets/img/mobile-phlebotomist.png" alt="Mobile phlebotomist ready for home lab appointment" />
    </picture>
  </div>
  <div class="c-large-hero-bg"></div>
</section>
