// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++
//
//  Getlabs Website
//  Pages > PSC > Landing Page
//
// ++ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ++

@import 'variables';
@import 'mixins';

::ng-deep .mat-option-text {
  display: flex !important;
  flex-direction: row;
  align-items: center;

  &__overflow {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.c-psc-map-intro {
  margin-bottom: 50px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__search {
    width: 100%;
    max-width: 400px;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  //
  // Responsive
  //
  @include bp(s) {
    margin-bottom: 20px;

    &__title {
      margin-bottom: 20px;
    }
  } // s

  @include bp(xxs) {
    &__loc-button {
      display: none;
    }

    &__search {
      max-width: none;
    }
  } // xxs
} // .c-psc-map-intro

//
// PSC Map & List
//
.c-psc-map-list-container {
  height: 680px;
  margin-bottom: $desktop-section-spacing;

  &__map-container {
    width: 40vw;
    height: 100%;
    background-color: $gl-light-l2;

  } // __map-container

  &__wrapper {
    justify-content: flex-end;
    height: 100%;
  }

  &__list-container {
    position: relative;
    width: 50%;
    padding-left: 4vw;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-image: linear-gradient(rgba($white, 0), $white);
    }
  } // ::after

  &__list-title {
    margin-bottom: $ui-grid-gap;
  }

  //
  // Responsive
  //
  @include bp(l) {
    &__map-container {
      width: 50vw;
    }
  }

  @include bp(s) {
    height: 550px;
    margin-bottom: $mobile-section-spacing;
    position: relative;

    &__list-container {
      position: absolute;
      z-index: 1;
      top: 74px;
      left: 0;
      width: 100%;
      height: 550px - 74px;
      padding-left: $mobile-edge;

      &::after {
        height: 20px;
        background-image: linear-gradient(rgba($white, 0), rgba($black, 0.15));
      }

      &--hide {
        display: none;
      }
    } // __list-container

    &__list-title {
      height: 40px;
    }

    &__map-container {
      left: 0;
      width: calc(100% + (#{$mobile-edge} * 2));
      transform: translateX(0);
      opacity: 0.2;
      pointer-events: none;
      margin-left: calc(#{$mobile-edge} * -1);
      margin-right: calc(#{$mobile-edge} * -1);

      &--active {
        opacity: 1;
        pointer-events: all;
      }
    } // __map-container
  } // s
} // .c-psc-map-list-container

//
// PSC List
//
.c-psc-list {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  padding-bottom: 60px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &__more {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 25px 0;
  }

  //
  // Responsive
  //
  @include bp(s) {
    height: calc(100% - 40px);
    padding-bottom: 20px;
    padding-right: 15px;

    &__more {
      margin: 15px 0;
    }
  } // s
} // .c-psc-list

//
// Map / List Tabs
//
.c-psc-map-list-tabs {
  display: none;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: $mobile-edge;
  width: calc(100% - #{$mobile-edge * 2});
  align-items: stretch;
  height: 44px;
  background-color: $white;
  box-shadow: 0 0 0 1px rgba($black, 0.2);

  &__tab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    flex: 1 1 50%;
    cursor: pointer;

    // Resets
    outline: none;
    border: none;
    background-color: $white;
    font-family: $gl-body-font-family;

    &--active {
      background-color: $gl-primary-d1;
    }
  } // __tab

  //
  // Responsive
  //
  @include bp(s) {
    display: flex;
  }
} // .c-psc-map-list-tabs
