<section class="c-team-block">
  <div class="l-wrapper l-wrapper--col">
    <h2 class="h-dark-c-h1 h-dark-c-h1--responsive c-team-block__title">Our Team</h2>
    <div class="c-team-block__grid">
      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/kyle-michelson.jpg"
          srcset="/assets/img/kyle-michelson.jpg 1x, /assets/img/kyle-michelson@2x.jpg 2x"
          alt="Kyle Michelson, CEO"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Kyle Michelson</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Chief Executive Officer </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://www.stream-up.com/" target="_blank">Streamup (YC W16)</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/bart-wegrzyn.jpg"
          srcset="/assets/img/bart-wegrzyn.jpg 1x, /assets/img/bart-wegrzyn@2x.jpg 2x"
          alt="Bart Wegrzyn, Head of Engineering"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Bart Wegrzyn</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Head of Engineering </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://www.cisco.com/" target="_blank">Cisco Systems</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/russell-brooks.jpg"
          srcset="/assets/img/russell-brooks.jpg 1x, /assets/img/russell-brooks@2x.jpg 2x"
          alt="Russell Brooks, Director of Ops & Patient Experience"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Russell Brooks</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Director of Operations & Patient Experience </span>
        <span class="h-dark-l-b3 c-team-member__extra">
          Prev. <a href="https://www.sonder.com/" target="_blank">Sonder</a>, <a href="https://www.uber.com/" target="_blank">Uber</a>
        </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/matthew-penney.jpg"
          srcset="/assets/img/matthew-penney.jpg 1x, /assets/img/matthew-penney@2x.jpg 2x"
          alt="Matthew Penney, Engineer"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Matthew Penney</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Senior Engineer </span>
        <span class="h-dark-l-b3 c-team-member__extra">
          Prev. <a href="https://www.td.com/" target="_blank">TD Bank</a>, <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a>
        </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/joe-oleary.jpg"
          srcset="/assets/img/joe-oleary.jpg 1x, /assets/img/joe-oleary@2x.jpg 2x"
          alt="Joe O'Leary, Senior Engineer"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Joe O'Leary</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Senior Engineer </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://www.cisco.com/" target="_blank">Cisco Systems</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/crystal-shorter.jpg"
          srcset="/assets/img/crystal-shorter.jpg 1x, /assets/img/crystal-shorter@2x.jpg 2x"
          alt="Crystal Shorter, Phlebotomy Manager"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Crystal Shorter</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Phlebotomy Manager </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://www.sonoraquest.com/" target="_blank">Sonora Quest</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/lauren-testa.jpg"
          srcset="/assets/img/lauren-testa.jpg 1x, /assets/img/lauren-testa@2x.jpg 2x"
          alt="Lauren Testa, Operations"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Lauren Testa</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Operations Manager </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://doordash.com/" target="_blank">DoorDash</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/kelly-zepeda.jpg"
          srcset="/assets/img/kelly-zepeda.jpg 1x, /assets/img/kelly-zepeda@2x.jpg 2x"
          alt="Kelly Zepeda, Operations Associate"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Kelly Zepeda</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Operations Associate </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://grailed.com/" target="_blank">Grailed</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/tyler-ichikawa.jpg"
          srcset="/assets/img/tyler-ichikawa.jpg 1x, /assets/img/tyler-ichikawa@2x.jpg 2x"
          alt="Tyler Ichikawa, Senior Recruiter"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Tyler Ichikawa</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Senior Recruiter </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. <a href="https://www.sage.com/" target="_blank">Sage Intacct</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/tim-connors.jpg"
          srcset="/assets/img/tim-connors.jpg 1x, /assets/img/tim-connors@2x.jpg 2x"
          alt="Tim Connors, Director"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Tim Connors</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Director </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Managing Partner, <a href="http://www.pivotnorth.com/" target="_blank">PivotNorth</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/daphne-carmeli.jpg"
          srcset="/assets/img/daphne-carmeli.jpg 1x, /assets/img/daphne-carmeli@2x.jpg 2x"
          alt="Daphne Carmeli, CEO of Deliv"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Daphne Carmeli</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Director </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. CEO, <a href="http://www.deliv.co/" target="_blank">Deliv</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/dennis-ernst.jpg"
          srcset="/assets/img/dennis-ernst.jpg 1x, /assets/img/dennis-ernst@2x.jpg 2x"
          alt="Dennis Ernst, Phlebotomy Advisor"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Dennis Ernst</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Phlebotomy Advisor </span>
        <span class="h-dark-l-b3 c-team-member__extra">
          <a href="https://www.phlebotomy.com/" target="_blank">Center for Phlebotomy Education</a>
        </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/demetri-karagas.jpg"
          srcset="/assets/img/demetri-karagas.jpg 1x, /assets/img/demetri-karagas@2x.jpg 2x"
          alt="Demetri Karagas, Telehealth Advisor"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Demetri Karagas</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Telehealth Advisor </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Co-Founder, <a href="https://thirtymadison.com/" target="_blank">Thirty Madison</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/steve-gutentag.jpg"
          srcset="/assets/img/steve-gutentag.jpg 1x, /assets/img/steve-gutentag@2x.jpg 2x"
          alt="Steven Gutentag, Telehealth Advisor"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Steven Gutentag</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Telehealth Advisor </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Co-Founder, <a href="https://thirtymadison.com/" target="_blank">Thirty Madison</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/craig-thompson.jpg"
          srcset="/assets/img/craig-thompson.jpg 1x, /assets/img/craig-thompson@2x.jpg 2x"
          alt="Craig Thompson, BD Advisor"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Craig Thompson</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> BD Advisor </span>
        <span class="h-dark-l-b3 c-team-member__extra"> VP Sales, <a href="https://alto.com/" target="_blank">Alto</a> </span>
      </div>

      <div class="c-team-member">
        <img
          class="c-team-member__img"
          src="/assets/img/barclay-loftus.jpg"
          srcset="/assets/img/barclay-loftus.jpg 1x, /assets/img/barclay-loftus@2x.jpg 2x"
          alt="Barclay Loftus, Engineering Advisor"
        />
        <h5 class="h-dark-l-h5 h-dark-l-h5--responsive h-mb-5">Barclay Loftus</h5>
        <span class="h-dark-l-lb4 h-mb-5 c-team-member__pos"> Engineering Advisor </span>
        <span class="h-dark-l-b3 c-team-member__extra"> Prev. CTO, <a href="http://www.deliv.co/" target="_blank">Deliv</a> </span>
      </div>
    </div>
  </div>
</section>
