<section class="l-wrapper l-wrapper--col">
  <h5 class="h-dark-c-h1 h-dark-c-h1--responsive h-mb-40">
    Frequently Asked Questions
  </h5>
  <app-accordian class="c-providers-faq">
    <app-expansion-panel>
      <ng-container ngProjectAs=".title">Will Getlabs take samples to my preferred lab?</ng-container>

      Yes, absolutely.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">Is Getlabs a laboratory?</ng-container>

      No, Getlabs is not a laboratory. Getlabs exclusively collects samples and delivers samples to the laboratories selected by providers or their patients.
      This includes leading labs such as Labcorp and Quest Diagnostics.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">Why would mobile phlebotomy improve non-compliance?</ng-container>

      Patients generally find lab draws stressful, inconvenient, and highly disruptive to their schedule. Most laboratory patient service centers are only open during
      typical work hours, Monday through Friday. Getlabs improves compliance by providing a convenient and comfortable experience from beginning to end.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">How much does Getlabs cost?</ng-container>

      Getlabs costs nothing to providers and charges patients a low convenience fee for collecting their samples and delivering to the laboratory.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">Does Getlabs work with insurance or medicare?</ng-container>

      No, Getlabs is self-pay by patients. In the future, we may consider expanding to support insurance.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">How can I refer patients to Getlabs?</ng-container>

      Once you fill the form on this page, we’ll set you up with promotional materials including promo cards for your reception desk. Additionally, you can simply
      tell patients to go to getlabs.com to book a visit.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">What sample types does Getlabs collect?</ng-container>

      We collect almost every sample laboratory patient service centers collect, including blood and urine.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">How do patients book a visit?</ng-container>

      They simply go to <a routerLink="/">getlabs.com</a> and follow the steps.
    </app-expansion-panel>

    <app-expansion-panel>
      <ng-container ngProjectAs=".title">How can I get started?</ng-container>

      Just fill out the form on this page and we’ll reach out.
    </app-expansion-panel>
  </app-accordian>
</section>
