<main class="l-wrapper l-wrapper--sm l-main-container">

  <h1 class="h-dark-c-h4 h-dark-c-h3--responsive h-mb-10">
    Patient Profile
  </h1>

  <p class="h-medium-c-b1 h-medium-c-b1--responsive h-mb-30">
    This is the information we use when you book visits. If this information has changed, simply update it below.
  </p>
</main>

<app-patient-profile-form [user]="user" (save)="onUserSave()" contactLabel="Personal Details" class="app-form-group__heading-divider-light"></app-patient-profile-form>
