<section class="c-backers-block">
  <div class="c-backers-block__wrapper l-wrapper l-wrapper--small">
    <h6 class="h-dark-c-h2 h-mb-50 h-mb-xs-40">
      Backed by:
    </h6>
    <div class="c-backers-block__logo-container">
      <a href="http://www.pivotnorth.com" class="l-as-inline-block c-backers-block__item-anchor" target="_blank">
        <img class="c-backers-block__item h-responsive-img"
          src="/assets/img/pivotnorth-capital.png"
          srcset="/assets/img/pivotnorth-capital.png 1x, /assets/img/pivotnorth-capital@2x.png 2x"
          alt="PivotNorth Capital Logo">
      </a>
      <a href="http://liquid2.vc/" class="l-as-inline-block c-backers-block__item-anchor" target="_blank">
        <img class="c-backers-block__item h-responsive-img"
          src="/assets/img/liquid-2-ventures.png"
          srcset="/assets/img/liquid-2-ventures.png 1x, /assets/img/liquid-2-ventures@2x.png 2x"
          alt="L2 Ventures Logo">
      </a>
      <a href="https://citylight.vc/" class="l-as-inline-block c-backers-block__item-anchor" target="_blank">
        <img class="c-backers-block__item h-responsive-img"
             src="/assets/img/citylight.png"
             srcset="/assets/img/citylight.png 1x, /assets/img/citylight@2x.png 2x"
             alt="City Light">
      </a>
      <a href="https://karlinfund.com/" class="l-as-inline-block c-backers-block__item-anchor" target="_blank">
        <img class="c-backers-block__item h-responsive-img"
             src="/assets/img/karlin.png"
             srcset="/assets/img/karlin.png 1x, /assets/img/karlin@2x.png 2x"
             alt="Karlin Asset Management">
      </a>
      <a href="https://tusk.vc/" class="l-as-inline-block c-backers-block__item-anchor" target="_blank">
        <img class="c-backers-block__item h-responsive-img"
             src="/assets/img/tusk-ventures.png"
             srcset="/assets/img/tusk-ventures.png 1x, /assets/img/tusk-ventures@2x.png 2x"
             alt="Tusk Ventures">
      </a>
      <a href="https://rosecliff.com/" class="l-as-inline-block c-backers-block__item-anchor" target="_blank">
        <img class="c-backers-block__item h-responsive-img"
             src="/assets/img/rosecliff.png"
             srcset="/assets/img/rosecliff.png 1x, /assets/img/rosecliff@2x.png 2x"
             alt="Rosecliff Ventures">
      </a>
    </div>
  </div>
</section>
