:host {
  display: flex;
  flex-direction: column;

  app-date-range-input {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: fit-content;
  }

  .action-container {
    justify-self: end;
  }

  .range-form-container {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px 20px;
  }
}
