<main class="l-wrapper l-wrapper--sm h-flex-y-center l-main-container">
  <h1 class="h-dark-c-h4 h-dark-c-h3--responsive h-mb-10">
    You're all set. We’ll send you a text message to notify you when we expand to your area!
  </h1>

  <p class="h-medium-c-b1 h-medium-c-b1--responsive h-mb-30">
    In the meantime, you can get $5 credit for each friend you refer to Getlabs. Just share your unique link below!
  </p>

  <app-share-referral class="h-mb-30"></app-share-referral>

  <p class="h-medium-c-b2 h-medium-c-b2--responsive">
    When a friend signs up with your link and completes their first appointment, you'll automatically get $5 in Getlabs credit.
  </p>
</main>
